<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>后台管理</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href ="css/backstage.css">
	<script type="text/javascript" src="js/jquery-1.8.3.min.js">
	</script>
	<script type="text/javascript" src="js/backstage.js">
	</script>
	<style>
	</style>
</head>
<body>
	<div class="container">
		<h1>Miss Yang后台管理</h1>
	<div class="left_wrapper">
		<ul class="nav">
			<li class="li_click">
				<a>
					上传文章
				</a>
			</li>
			<li>
				<a>
					删除文章
				</a>
			</li>
		</ul>
	</div>
	<div class="right_wrapper">
		<ul class="content">
			<li class="input">
				<p class="li_header">上传文章</p>
				<form action="#" method="post" enctype="multipart/form-data">
					<input type="radio" name="checkessey" value="essey">文章
					<input type="radio" name="checkessey" value="otheressey">杂记
    				<input type="file" id="exampleInputFile" name="upfile">
  					<button type="submit" class="btn btn-default">上传</button>
				</form>
			</li>
			<li class="delete">
				<p class="li_header">删除文章</p>
				<table class="table table-striped">
					<tr>
						<th>文件目录</th>
						<th>文章名</th>
						<th>操作</th>
					</tr>
					<tr>
						<td>文章</td>
						<td>es6标准入门</td>
						<td><a href="javascript:void(0)">删除</a>
						</td>
					</tr>
					<tr>
						<td>文章</td>
						<td>es6标准入门</td>
						<td><a href="javascript:void(0)">删除</a>
						</td>
					</tr>
					<tr>
						<td>文章</td>
						<td>es6标准入门</td>
						<td><a href="javascript:void(0)">删除</a>
						</td>
					</tr>
					<tr>
						<td>文章</td>
						<td>es6标准入门</td>
						<td><a href="javascript:void(0)">删除</a>
						</td>
					</tr>
					<tr>
						<td>文章</td>
						<td>es6标准入门</td>
						<td><a href="javascript:void(0)">删除</a>
						</td>
					</tr>
				</table>
			</li>
		</ul>
	</div>
</body>
</html>