<!DOCTYPE html>
<html>
<head>
	<title>管理员登陆</title>
	<link rel="stylesheet" type="text/css" href="css/login.css">	
</head>
<body>
<img src="img/bgimg.jpg">
	<div class="login_div">
		<p>Miss Yang管理员登陆</p>
		<form id="admin" action="back_end.html"  method="post">
			账号：<input id="number" type="text" name="number">
			<br>
			密码：<input id="password" type="password" name="password">
			<br>
			<input  id="submit" type="submit" name="submit" value="登录">
		</form>
	</div>
</body>
</html>